<!-- Facebook SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 
<!-- End Facebook -->

<div class="jumbotron" style="background: url('images/jumbo.png')  no-repeat center; background-size: 100%;">
    <!-- <div class="jumbotron" style="background: url('{{ image.image_url }}') center no-repeat fixed;"> -->
  <div class="container">
    <div>
      <h1>Ashland Water Polo</h1>
      <p>Welcome to the home of the Grizzlies.</p>
    </div>
  </div>
</div>



<div class="row">
  <article class="col-md-8 col-md-offset-1 col-md-push-3">
    <h3 style="margin-top: 0px;">Welcome</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis leo ac porta feugiat. In ut dui vel dolor consequat ornare ut ut dolor. Aliquam erat volutpat. Mauris pretium rhoncus diam. Aenean pharetra libero et nibh condimentum, at molestie turpis laoreet. Nullam porttitor dui eget lorem pellentesque volutpat. Vestibulum a pretium eros. Vestibulum elementum hendrerit tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi rutrum turpis quis purus viverra, quis ultrices justo faucibus. Praesent quis libero a turpis posuere elementum et vel elit. Etiam interdum nec nunc sed porta. Praesent et nulla quis ligula volutpat facilisis in id neque. Curabitur fringilla est non placerat varius. Fusce semper nisi sit amet enim dignissim aliquet.</p>
    <p>Curabitur consectetur vestibulum tellus, ac vestibulum est blandit quis. Donec a leo suscipit, iaculis sem ac, consequat ante. Sed dictum elit eu eros feugiat vehicula. Maecenas laoreet rutrum facilisis. Cras posuere commodo nibh, ut scelerisque odio. Vivamus leo neque, fringilla ac tempus a, porttitor ut nisl. Donec nec elementum velit. Vestibulum malesuada metus eu fringilla posuere. Nam porta, magna sed luctus pharetra, risus enim convallis lacus, dignissim interdum magna urna et sapien. Praesent ac tristique turpis, id molestie ipsum. Duis in eleifend ipsum, at feugiat neque.</p>
    <br>
    <div class="visible-lg text-center">
      <iframe width="640" height="480" src="//www.youtube.com/embed/vxI43Q47dNg?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="hidden-lg text-center">
      <iframe width="420" height="315" src="//www.youtube.com/embed/vxI43Q47dNg?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </article>
  <aside class="col-md-3 col-md-pull-9 text-center">
    <div class="fb-like-box" style="text-align: center;" data-href="https://www.facebook.com/AshlandWaterPolo" data-colorscheme="dark" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false"></div>
  </aside>
</div>