@import "bootstrap";

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

h1, h2, h3 {
margin-top: 2px;
margin-bottom: 10px;
}

html {
    background: url('./bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 body{
    background-color: rgba(0,0,0,0);
    padding-top: 70px;
    color: #BBB;
}

.maincontent{
    background-color:rgba(25,25,25,0.9);
    padding: 15px;
    -moz-border-radius: 15px;
    border-radius: 10px;
    margin-bottom: 13px;
    max-width: 1080px;
}

.field_with_errors {
  @extend .has-error;
  margin: 0px;
}


.panel{
    background-color:  rgba(30, 30, 30, .75);
}

.panel-title {
    margin-left: 0.5em;
}

.panel-body{
    padding: 0px;
}

.panel ul {
    list-style-type:none;
}
